﻿@model WebApp.Models.Organization

@{
    ViewData["Title"] = "Карточка организации";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover table-condensed table-striped">
  <tr>
    <th>Раздел</th>
  </tr>
  <tr>
    <td>
      <a asp-controller="OrganizationBankDetails" asp-action="Edit" asp-route-id="@Model.OrganizationId">Реквизиты</a>
    </td>
  </tr>
  <tr>
    <td>
      <a asp-controller="OrganizationProfiles" asp-action="Edit" asp-route-id="@Model.OrganizationId">Данные организации</a>
    </td>
  </tr>
  <tr>
    <td>
      <a asp-controller="OrganizationProvisionRecipientBankDetails" asp-action="Edit" asp-route-id="@Model.OrganizationId">Реквизиты организации-получателя обеспечения исполнения договора</a>
    </td>
  </tr>
  <tr>
    <td>
      <a asp-controller="Stocks" asp-action="Edit" asp-route-id="@Model.OrganizationId">Склад</a>
    </td>
  </tr>
</table>