﻿@model WebApp.Models.OrganizationProfile

@{
    ViewData["Title"] = "Данные организации";
}

<h2>Редактировать</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="OrganizationProfileId" />
        <div class="form-group">
            <label asp-for="Apartment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Apartment" class="form-control" />
                <span asp-validation-for="Apartment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClosedForLunch" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClosedForLunch" class="form-control" />
                <span asp-validation-for="ClosedForLunch" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fax" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LinkLogo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LinkLogo" class="form-control" />
                <span asp-validation-for="LinkLogo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Office" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Office" class="form-control" />
                <span asp-validation-for="Office" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostIndex" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostIndex" class="form-control" />
                <span asp-validation-for="PostIndex" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Region" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RegistredName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RegistredName" class="form-control" />
                <span asp-validation-for="RegistredName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Site" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Site" class="form-control" />
                <span asp-validation-for="Site" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WorkingHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WorkingHours" class="form-control" />
                <span asp-validation-for="WorkingHours" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
  <a asp-controller="OrganizationSummary" asp-action="Index" asp-route-id="@Model.OrganizationProfileId">К карточке</a>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
