@model IEnumerable<WebApp.Models.OrganizationBankDetails>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrespondentAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kpp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ogrn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Okpo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Okved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistredOffice)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrespondentAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kpp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ogrn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Okpo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Okved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistredOffice)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.OrganizationBankDetailsId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.OrganizationBankDetailsId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.OrganizationBankDetailsId">Delete</a>
        </td>
    </tr>
}
</table>
