﻿@model WebApp.ViewModels.OrganizationAccess.AddAdminViewModel
@{
    ViewData["Title"] = "Добавить контрактного управляющего";
}

<h2>Добавление контрактного управляющего</h2>
<p>Добавить можно только зарегистрированного пользователя</p>
<form asp-action="AddManager">
  <div class="form-horizontal">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="Email" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
    </div>
    <input asp-for="OrganizationId" type="hidden" />
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Добавить" class="btn btn-default" />
      </div>
    </div>
  </div>
</form>

<div>
  <a asp-action="Index"  asp-route-id="@Model.OrganizationId">Вернуться к списку</a>
</div>

@section Scripts {
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
