﻿@model WebApp.ViewModels.WaitingUser.WaitingUserView
@{
    ViewData["Title"] = "подтверждение операции";
}

<h1 class="h2">Добавление пользоваля</h1>
<p>Пользователь с указанным email не найден</p>
<p>Отправить ему приглашение?</p>


<form asp-action="AddWaitingUser">
  <div class="form-horizontal">
    <hr />
      <div asp-validation-summary="All" class="text-danger"></div>
      
      <input asp-for="FromUserId" type="hidden"/>
      <input asp-for="InviteEmail" type="hidden" />
      <input asp-for="OrganizationId" type="hidden" />
      <input asp-for="Position" type="hidden"/>


      <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
              <input type="submit" value="Отправить" class="btn btn-default"/>
              <a class="btn btn-default" href="@Model.BackUrl">Назад</a>
      </div>
    </div>
  </div>
</form>

