﻿@model WebApp.ViewModels.OrganizationAccess.AddAdminViewModel
@{
    ViewData["Title"] = "Удаление контрактного управляющего";
}

<h2>Удаление контрактного управляющего</h2>

<form asp-action="DeleteManager">
  <div class="form-horizontal">
    <hr />
    <dl class="dl-horizontal">
      <dt>
        @Html.DisplayNameFor(model => model.Email)
      </dt>
      <dd>
        @Html.Raw(Model.Email)
      </dd>
    </dl>
    <input asp-for="Email" type="hidden" />
    <input asp-for="OrganizationId" type="hidden" />
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Удалить" class="btn btn-default" />
      </div>
    </div>
  </div>
</form>

<div>
  <a asp-action="Index"  asp-route-id="@Model.OrganizationId">Вернуться к списку</a>
</div>

@section Scripts {
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
