﻿@model WebApp.ViewModels.OrganizationAccess.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Доступы к @Model.OrganizationName</h2>

<h3>Администраторы</h3>
@if (Model.Admins.Count < 1)
{
    <p>отсутствуют</p>
}
else
{
    <table class="table table-bordered table-hover table-condensed table-striped">
      <tr>
        <th>Емайл</th>
        <th>Действие</th>
      </tr>

      @foreach (var item in Model.Admins)
      {
          <tr>
            <td>
              @item
            </td>
            <td>
              <a asp-action="DeleteAdmin" asp-route-email="@item" asp-route-id="@Model.OrganizationId">Удалить</a>
            </td>
          </tr>
      }
    </table>
}
<p>
  <a asp-action="AddAdmin" asp-route-id="@Model.OrganizationId" class="btn btn-default">Добавить администратора</a>
</p>

<h3>Контрактные управляющие</h3>
@if (Model.Managers.Count < 1)
{
    <p>отсутствуют</p>
}
else
{
    <table class="table table-bordered table-hover table-condensed table-striped">
      <tr>
        <th>Емайл</th>
        <th>Действие</th>
      </tr>

      @foreach (var item in Model.Managers)
      {
          <tr>
            <td>
              @item
            </td>
            <td>
              <a asp-action="DeleteManager" asp-route-email="@item" asp-route-id="@Model.OrganizationId">Удалить</a>
            </td>
          </tr>
      }
    </table>
}
<p>
  <a asp-action="AddManager" asp-route-id="@Model.OrganizationId" class="btn btn-default">Добавить контрактного управляющего</a>
</p>







<h3>Ответственные за подписание</h3>
@if (Model.Signatories.Count < 1)
{
    <p>отсутствуют</p>
}
else
{
    <table class="table table-bordered table-hover table-condensed table-striped">
      <tr>
        <th>Емайл</th>
        <th>Действие</th>
      </tr>

      @foreach (var item in Model.Signatories)
      {
          <tr>
            <td>
              @item
            </td>
            <td>
              <a asp-action="DeleteSignatory" asp-route-email="@item" asp-route-id="@Model.OrganizationId">Удалить</a>
            </td>
          </tr>
      }
    </table>
}
<p>
  <a asp-action="AddSignatory" asp-route-id="@Model.OrganizationId" class="btn btn-default">Добавить ответственного за подписание</a>
</p>



<h3>Ответственные должностные лица</h3>
@if (Model.Responsibles.Count < 1)
{
    <p>отсутствуют</p>
}
else
{
    <table class="table table-bordered table-hover table-condensed table-striped">
      <tr>
        <th>Емайл</th>
        <th>Действие</th>
      </tr>

      @foreach (var item in Model.Responsibles)
      {
          <tr>
            <td>
              @item
            </td>
            <td>
              <a asp-action="DeleteResponsible" asp-route-email="@item" asp-route-id="@Model.OrganizationId">Удалить</a>
            </td>
          </tr>
      }
    </table>
}
<p>
  <a asp-action="AddResponsible" asp-route-id="@Model.OrganizationId" class="btn btn-default">Добавить ответственное должностное лицо</a>
</p>