@model WebApp.Models.OrganizationProvisionRecipientBankDetails

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrganizationProvisionRecipientBankDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bik)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bik)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CorrespondentAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrespondentAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kbk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kbk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kpp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kpp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ogrn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ogrn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Okpo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Okpo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Okved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Okved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonalAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonalAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurposeOfPayment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurposeOfPayment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistredOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistredOffice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
