﻿@model WebApp.Models.OrganizationProvisionRecipientBankDetails

@{
    ViewData["Title"] = "Реквизиты организации-получателя обеспечения исполнения договора";
}

<h2>Редактировать</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="OrganizationProvisionRecipientBankDetailsId" />
        <div class="form-group">
            <label asp-for="BankAccount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BankAccount" class="form-control" />
                <span asp-validation-for="BankAccount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BankName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bik" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bik" class="form-control" />
                <span asp-validation-for="Bik" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CorrespondentAccount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CorrespondentAccount" class="form-control" />
                <span asp-validation-for="CorrespondentAccount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Inn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Inn" class="form-control" />
                <span asp-validation-for="Inn" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Kbk" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Kbk" class="form-control" />
                <span asp-validation-for="Kbk" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Kpp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Kpp" class="form-control" />
                <span asp-validation-for="Kpp" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ogrn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ogrn" class="form-control" />
                <span asp-validation-for="Ogrn" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Okpo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Okpo" class="form-control" />
                <span asp-validation-for="Okpo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Okved" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Okved" class="form-control" />
                <span asp-validation-for="Okved" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PersonalAccount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PersonalAccount" class="form-control" />
                <span asp-validation-for="PersonalAccount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PurposeOfPayment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PurposeOfPayment" class="form-control" />
                <span asp-validation-for="PurposeOfPayment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RegistredOffice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RegistredOffice" class="form-control" />
                <span asp-validation-for="RegistredOffice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
  <a asp-controller="OrganizationSummary" asp-action="Index" asp-route-id="@Model.OrganizationProvisionRecipientBankDetailsId">К карточке</a>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
