﻿@{
    ViewData["Title"] = "Список аукционов";
}
@model  WebApp.ViewModels.User.UserWithRole
<div class="row">



    <div class="col-md-4">
        <h1>Изменить роли пользователя </h1>
        <h2></h2>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>пользователь</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditUser">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.HiddenFor(x=>x.Id)

                    @foreach (var item in Model.AllRoles)
                    {
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input id="@item.Value" name="@item.Value"  checked="@item.Selected"   type="checkbox" value="@item.Text">
                                    @item.Value

                                  

                                </label>
                            </div>
                        </div>
                    }

                </div>
                <a asp-action="UserList" asp-controller="admin" class="btn btn-default">Назад</a>
                <button type="submit" class="btn btn-default">Сохранить</button>
    </div>
    </form>


</div>
    </div>