﻿@{
    ViewData["Title"] = "Список аукционов";
}
@model IEnumerable<AuctionProfile>
<div class="row">

    <h1>Список аукционов</h1>

    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>AuctionProfileid</th>
                <th>AuctionDateStart</th>
                <th>AuctionDateEnd</th>
                <th>Organizationid</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var auction in Model)
            {
                <tr>
                    <td>@auction.AuctionProfileId</td>
                    <th>@auction.AuctionDateStart</th>
                    <th>@auction.AuctionDateEnd</th>
                    <td>@auction.OrganizationId</td>
                    <td>
                        <a asp-action="EditProfile"
                           asp-route-id="@auction.AuctionProfileId" >изменить</a>
                    </td>
                    <td>
                        <a asp-action="DeleteProfile"
                           asp-route-id="@auction.AuctionProfileId" >удалить</a>
                    </td>
                </tr>

            }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a asp-action="EditProfile"  asp-route-id="@ViewBag.Id" class="btn bg-info">Создать новый аукцион</a>
    </div>
</div>