﻿@{
    ViewData["Title"] = "Список аукционов";
}
@model IEnumerable<string>
<div class="row">

    <h1>Список пользователей</h1>
    <div class="col-xs-12 col-md-12">

        <table id="usertable" class="table table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    @*<th>#</th>*@
                    <th>аватар</th>
                    <th>фио</th>
                    <th>email</th>
                    <th>телефон</th>
                    <th>роли</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            ShowDataTable('#usertable', '@Url.Action("GetUserList", "Admin")', '@Url.Action("EditUser", "Admin", new {Id = 0})', '@Url.Action("DeleteUser", "Admin", new {Id = 0})');
        });

        function ShowDataTable(tag, source, edit, del) {
            $(tag).DataTable({
                responsive: true,
                "ajax": source,
                "language": {
                    "lengthMenu": "Отображать _MENU_ записей на страницу",
                    "zeroRecords": "Ничего не найлено!",
                    "info": "Показать страницу  _PAGE_ из _PAGES_",
                    "infoEmpty": "Нет записей",
                    "infoFiltered": "(отсортировано из _MAX_  записей)",
                    "paginate": {
                        "previous": "Пред",
                        "next": "След"
                    }
                },
                "columns": [
                    //{ "data": "Id" },
                    {
                        "data": "picture",
                        "render": function(data, type, row) {
                            return '<img class="img-thumbnail" src="' + data + '" title="аватар" style="width: 48px; height: 48px;"/>';
                        }
                    },
                    { "data": "fullName" },
                    { "data": "email" },
                    { "data": "phoneNumber" },
                    { "data": "roles" },
                    {
                        "data": "editRoleLink",
                        "render": function (data, type, row) {
                            return "<a href='" + data + "' class='btn btn-default'>изменить</a>";
                        }
                    },
                    {
                        "data": "removeLink",
                        "render": function(data, type, row) {
                            return "<a href='" + data + "' class='btn btn-default'>удалить</a>";
                        }

                    }
                ]
            });
        }
    </script>

}
