﻿@model WebApp.ViewModels.Profile.ProfileViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Редактирование</h2>

<div class="row">

    <div class="col-md-12">
        <form asp-action="Edit">
            <div class="form-horizontal">
                <h4>Профиль</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

              
                <div class="form-group" style="@(String.IsNullOrWhiteSpace(Model.Picture)?"display: none":"")">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10" style="width: 128px; height: 128px;">
                        <img id="avatarimg" src="@Model.Picture" class="img-thumbnail img-responsive" title="аватар" style="max-height: 128px; max-width: 128px;"/>
                    </div>
                </div>

                <div class="form-group">
                    <label  asp-for="Picture"  class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ImgInput" type="file" class="form-control"/>
                        <span asp-validation-for="Picture" class="text-danger" />
                        <span class="text-danger">размер не должен превышать 200 кб</span>
                    </div>
                </div>

                <input type="hidden"  asp-for="Picture" />

                <div class="form-group">
                    <label asp-for="FullName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Position" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Position" class="form-control" />
                        <span asp-validation-for="Position" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SocialProfile" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="SocialProfile" class="form-control" />
                        <span asp-validation-for="SocialProfile" class="text-danger" />
                    </div>
                </div>

                <hr />
                <h4>Заполняется для лиц, действующих по доверенности</h4>
                <div class="form-group">

                    <label asp-for="PowerOfAttorneyNumber" class="col-md-2 control-label"></label>

                    <div class="col-md-10">
                        <input asp-for="PowerOfAttorneyNumber" class="form-control" />
                        <span asp-validation-for="PowerOfAttorneyNumber" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Сохранить" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>

        <div>
            <a asp-action="Index">Назад</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.liteuploader.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            
            $('#ImgInput').liteUploader({
                    script: '/Profile/UploadFiles',
                })
                .on("lu:success", function(e, response) {

                    $(".form-group:hidden").show();
                    $("#avatarimg").hide();
                    $("#avatarimg").attr("src", response);
                    $("#Picture").val(response);
                    $("#avatarimg").fadeIn();
                });
        });
    </script>
}
