﻿@model WebApp.ViewModels.Profile.ProfileViewModel

@{
    ViewData["Title"] = "Details";
    var socialProfile = Model.SocialProfile ?? "";
    if (socialProfile.Length>0)
    {
      socialProfile = "https://" + socialProfile.Replace("http://", "").Replace("https://", "");
    }

}

<h2>Профиль</h2>

<div>
  <h4>Данные для договоров</h4>
    <hr/>
    @if (!string.IsNullOrWhiteSpace(Model.Picture))
    {
            <div style="width: 128px; height: 128px;">
                <img id="avatarimg" src="@Model.Picture" class="img-thumbnail img-responsive" title="аватар" style="max-height: 128px; max-width: 128px;"/>
            </div>
    }


    <table class="table table-bordered table-hover table-condensed table-striped">
    <tr>
      <td>
        @Html.DisplayNameFor(model => model.FullName)
      </td>
      <td>
        @Html.DisplayFor(model => model.FullName)
      </td>
    </tr>
    <tr>
      <td>
        @Html.DisplayNameFor(model => model.Phone)
      </td>
      <td>
        @Html.DisplayFor(model => model.Phone)
      </td>
    </tr>
    <tr>
      <td>
        @Html.DisplayNameFor(model => model.Position)
      </td>
      <td>
        @Html.DisplayFor(model => model.Position)
      </td>
    </tr>
    <tr>
      <td>
        @Html.DisplayNameFor(model => model.PowerOfAttorneyNumber)
      </td>
      <td>
        @Html.DisplayFor(model => model.PowerOfAttorneyNumber)
      </td>
    </tr>
    <tr>
      <td>
        @Html.DisplayNameFor(model => model.SocialProfile)
      </td>
      <td>
        <a href="@(socialProfile)" >@Model.SocialProfile</a>
      </td>
    </tr>
  </table>
</div>
<p>
  <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
</p>
