﻿@model IEnumerable<WebApp.Models.Organization>

@{
    ViewData["Title"] = "GetOrganizations";
}
<div class="row">
    <h2>Список организаций</h2>

    <div class="col-md-8">
        @if (Model.Any())
        {
            <table class="table table-bordered table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th>
                        Название
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.OrganizationId">изменить</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.OrganizationId">удалить</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>


        }
        else
        {
            <h4>Список пуст</h4>
        }

    </div>
</div>

<input id="text" type="hidden" value="@ViewBag.Foo"/>



<div>
    <button id="down">скачать</button>
</div>
@section scripts{

    <script src="~/js/docxjs.js"></script>
    <script src="~/js/file-saver.js"></script>
    <script src="~/js/jszip-utils.js"></script>
    <script>


        $(document).ready(function () {
            $("#down").click(function() {
                var jsonData = $.parseJSON($('#text').val());
                WriteDocFile("/static/template.docx", jsonData);
            });
        });

        function WriteDocFile(file,data) {
            var loadFile = function(url, callback) {
                JSZipUtils.getBinaryContent(url, callback);
            }
            loadFile(file, function (err, content) {
                var doc = new Docxgen(content);
                doc.setData(data);
                doc.render();
                var output = doc.getZip().generate({ type: "blob" }); //Output the document using Data-URI
                saveAs(output, "output.docx");
            });
        }

    </script>

}
