﻿@model WebApp.ViewModels.Organizations.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Организации</h2>

<p>
  <a class="btn btn-default" asp-action="Create">Создать организацию</a>
</p>

@if (Model.AsAdmin.Count > 0)
{

    <h3>Полный доступ как администратор к следующим организациям:</h3>

    <table class="table table-bordered table-hover table-condensed table-striped">
      <tr>
        <th>Название</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      @foreach (var item in Model.AsAdmin)
      {
          <tr>
            <td>@item.Name</td>
            <td>
              <a asp-controller="OrganizationAccess" asp-action="Index" asp-route-id="@item.OrganizationId">Управлять доступом</a>
            </td>
            <td>
              <a asp-action="Delete" asp-route-id="@item.OrganizationId">Удалить</a>
            </td>
            <td>
              <a asp-controller="OrganizationSummary" asp-action="Index" asp-route-id="@item.OrganizationId">Карточка</a>
            </td>
          </tr>
      }
    </table>
}

@if (Model.AsManager.Count > 0)
{
    <h3>Доступ как контрактный управляющий:</h3>

    <table class="table table-bordered table-hover table-condensed table-striped">
      <tr>
        <th>Название</th>
        <th></th>

      </tr>

      @foreach (var item in Model.AsManager)
      {
          <tr>
            <td>@item.Name</td>
            <td>
              <a asp-controller="OrganizationSummary" asp-action="Index" asp-route-id="@item.OrganizationId">Карточка</a>
            </td>
          </tr>
      }
    </table>
}

@if (Model.AsSignatory.Count > 0)
{
    <h3>Доступ как ответственный за подписание:</h3>

    <table class="table table-bordered table-hover table-condensed table-striped">
      <tr>
        <th>Название</th>
        <th></th>

      </tr>

      @foreach (var item in Model.AsSignatory)
      {
          <tr>
            <td>@item.Name</td>
            <td><a>Карточка</a></td>
          </tr>
      }
    </table>
}

@if (Model.AsResponsible.Count > 0)
{
    <h3>Доступ как ответственное должностное лицо:</h3>

    <table class="table table-bordered table-hover table-condensed table-striped">
      <tr>
          <th>Название</th>
          <th>email</th>
        <th></th>

      </tr>

      @foreach (var item in Model.AsResponsible)
      {
          <tr>
              <td>@item.Name</td>
              <td>@item.OrganizationProfile.Email</td>
            <td><a>Карточка</a></td>
          </tr>
      }
    </table>
}