﻿@model WebApp.Models.PurchaseProfile


<h1>Изменить профиль закупок </h1>
<h4>аукцион #@Model.AuctionProfileId</h4>


<form asp-action="EditPurchaseProfile" method="POST">
    <div class="form-horizontal">
        
        <input type="hidden" asp-for="AuctionProfileId"/>
        <input type="hidden" asp-for="PurchaseProfileId"/>

        <div asp-validation-summary="All" class="text-danger">

        </div>
        <div class="form-group">
            <label asp-for="SupplyDate"  class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <div class='input-group date datetime'>
                    <input asp-for="SupplyDate" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="SupplyDate" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CompositionPrices" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="CompositionPrices" class="form-control"/>
                <span asp-validation-for="CompositionPrices" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PaymentOrder" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="PaymentOrder" class="form-control"/>
                <span asp-validation-for="PaymentOrder" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="PurchaseCurrency" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="PurchaseCurrency" class="form-control"/>
                <span asp-validation-for="PurchaseCurrency" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="OfficialExchangeRate" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="OfficialExchangeRate" class="form-control"/>
                <span asp-validation-for="OfficialExchangeRate" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TypeOfVehicle" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="TypeOfVehicle" class="form-control"/>
                <span asp-validation-for="TypeOfVehicle" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="UnloadingTime" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <div class='input-group date datetime'>
                    <input asp-for="UnloadingTime" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="UnloadingTime" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="LimitingOfDay" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="LimitingOfDay" class="form-control"/>
                <span asp-validation-for="LimitingOfDay" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DocumentsSupplied" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="DocumentsSupplied" class="form-control"/>
                <span asp-validation-for="DocumentsSupplied" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="NumberCopiesDocuments" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="NumberCopiesDocuments" class="form-control"/>
                <span asp-validation-for="NumberCopiesDocuments" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ProductName" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ProductName" class="form-control"/>
                <span asp-validation-for="ProductName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ProductCount" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ProductCount" class="form-control"/>
                <span asp-validation-for="ProductCount" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="ProductProperty" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ProductProperty" class="form-control"/>
                <span asp-validation-for="ProductProperty" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="PackaginGoods" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="PackaginGoods" class="form-control"/>
                <span asp-validation-for="PackaginGoods" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="ShelfLifeWarehouse" class="col-md-5 control-label"></label>
            <div class="col-md-7">
               
                <div class='input-group date datetime'>
                    <input asp-for="ShelfLifeWarehouse" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="ShelfLifeWarehouse" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <label asp-for="PeriodEndDateImplementation" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <div class='input-group date datetime'>
                    <input asp-for="PeriodEndDateImplementation" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="PeriodEndDateImplementation" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QualityAssurance" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="QualityAssurance" class="form-control"/>
                <span asp-validation-for="QualityAssurance" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <a asp-controller="Auction" asp-action="GetMyList" class="btn btn-default">Назад к списку</a>
                <a asp-action="EditProfile" asp-route-id="@Model.AuctionProfileId" class="btn btn-default">Назад к аукциону</a>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </div>
</form>

