﻿@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using WebApp.ViewModels.Auction
@model AuctionView
@*@ViewData["Title"]="Создание Аукциона";*@
<div class="row">
    <div class="col-md-12">
        <h2>Аукцион #@Model.AuctionProfileId</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">


        <table class="table table-bordered table-hover table-condensed table-striped">
            <tbody>
                <tr>
                    <th>Раздел</th>
                </tr>
                <tr>
                    <td>
                        <a asp-action="EditPurchaseProfile" asp-route-id="@Model.AuctionProfileId">Профиль закупок</a>
                    </td>
                </tr>
                <tr>
                    <td><button class="btn btn-default" onclick="return run('@Url.Action("GetNoticeDocument", "Auction",new {id=Model.AuctionProfileId})','/static/извещение.docx');">Скачать извещение</button></td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-default" onclick="return run('@Url.Action("GetInformationCardDocument", "Auction",new {id=Model.AuctionProfileId})','/static/инф.карта.эл.аукционзап.docx');">Скачать информационную карту</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditProfile">
            <div class="form-horizontal">
                <input type="hidden" asp-for="AuctionProfileId" />
                <input type="hidden" asp-for="Organizations" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AuctionDateStart" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <div class='input-group date'>
                            <input asp-for="AuctionDateStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="AuctionDateStart" class="text-danger" />
                    </div>



                </div>
                <div class="form-group">
                    <label asp-for="AuctionDateEnd" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <div class='input-group date datetime'>
                            <input asp-for="AuctionDateEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="AuctionDateEnd" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationCoveragePercentage" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <input asp-for="ApplicationCoveragePercentage" class="form-control" />
                        <span asp-validation-for="ApplicationCoveragePercentage" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContractCoveragePercentage" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <input asp-for="ContractCoveragePercentage" class="form-control" />
                        <span asp-validation-for="ContractCoveragePercentage" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TermsForCommercialCompanies" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <input asp-for="TermsForCommercialCompanies" class="form-control" />
                        <span asp-validation-for="TermsForCommercialCompanies" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TermsForGovermentCompanies" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <input asp-for="TermsForGovermentCompanies" class="form-control" />
                        <span asp-validation-for="TermsForGovermentCompanies" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfReview" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <div class='input-group date datetime'>
                            <input asp-for="DateOfReview" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="DateOfReview" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AuctionDate" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <div class='input-group date datetime'>
                            <input asp-for="AuctionDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="AuctionDate" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClarificationDateStart" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <div class='input-group date datetime'>
                            <input asp-for="ClarificationDateStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="ClarificationDateStart" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClarificationDateEnd" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <div class='input-group date datetime'>
                            <input asp-for="ClarificationDateEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="ClarificationDateEnd" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ElectronicTradingPlatform" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <input asp-for="ElectronicTradingPlatform" class="form-control" />
                        <span asp-validation-for="ElectronicTradingPlatform" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TheRequirementInTheAbsenceOfTheFederalLaw44" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <input asp-for="TheRequirementInTheAbsenceOfTheFederalLaw44" class="form-control" />
                        <span asp-validation-for="TheRequirementInTheAbsenceOfTheFederalLaw44" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="BeforeOfTheFederalLaw44" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <input asp-for="BeforeOfTheFederalLaw44" class="form-control" />
                        <span asp-validation-for="BeforeOfTheFederalLaw44" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="BenefitsOfParticipating" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <input asp-for="BenefitsOfParticipating" class="form-control" />
                        <span asp-validation-for="BenefitsOfParticipating" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AdmissionFromForeigns" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <input asp-for="AdmissionFromForeigns" class="form-control" />
                        <span asp-validation-for="AdmissionFromForeigns" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DocumentsAfterContract" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        <input asp-for="DocumentsAfterContract" class="form-control" />
                        <span asp-validation-for="DocumentsAfterContract" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OrganizationId" class="col-md-5 control-label"></label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model=>model.OrganizationId,
                       Model.Organizations,new {@class="form-control"})
                    </div>

                </div>

            </div>

            <div class="form-group">
                <div class="col-md-5">
                    <a asp-controller="Auction" asp-action="GetMyList" class="btn btn-default">Назад к списку</a>
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
            </div>

        </form>
    </div>
</div>
<input type="hidden" asp-for="OrganizationId" id="orgId" />


