﻿@{
    ViewData["Title"] = "Список аукционов";
}
@model IEnumerable<WebApp.ViewModels.Auction.AuctionView>
<div class="row">

    <h1>Список аукционов</h1>

    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>номер аукциона</th>
                <th>начало аукциона</th>
                <th>конец аукциона</th>
                <th>привязка к организации</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var auction in Model)
            {
                <tr>
                    <td>@auction.AuctionProfileId</td>
                    <th>@auction.AuctionDateStart</th>
                    <th>@auction.AuctionDateEnd</th>
                    <td>@auction.OrganizationName</td>
                    <td>
                        <a asp-action="EditProfile"
                           asp-route-id="@auction.AuctionProfileId" >карточка</a>
                    </td>
                    <td>
                        <a asp-action="DeleteProfile"
                           asp-route-id="@auction.AuctionProfileId" >удалить</a>
                    </td>
                </tr>

            }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a asp-action="EditProfile"  asp-route-id="@ViewBag.Id" class="btn btn-default">Создать новый аукцион</a>
    </div>
</div>