@model WebApp.Models.Stock

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckinTerms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckinTerms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contacts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoadingAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoadingAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoadingPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoadingPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameOfResponsibility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfResponsibility)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.StockId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
