﻿@model WebApp.Models.Stock

@{
    ViewData["Title"] = "Склад";
}

<h2>Редактировать</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="StockId" />
        <div class="form-group">
            <label asp-for="CheckinTerms" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CheckinTerms" class="form-control" />
                <span asp-validation-for="CheckinTerms" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contacts" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contacts" class="form-control" />
                <span asp-validation-for="Contacts" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LoadingAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LoadingAddress" class="form-control" />
                <span asp-validation-for="LoadingAddress" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LoadingPlace" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LoadingPlace" class="form-control" />
                <span asp-validation-for="LoadingPlace" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NameOfResponsibility" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NameOfResponsibility" class="form-control" />
                <span asp-validation-for="NameOfResponsibility" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
  <a asp-controller="OrganizationSummary" asp-action="Index" asp-route-id="@Model.StockId">К карточке</a>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
