@model IEnumerable<WebApp.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckinTerms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadingPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfResponsibility)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CheckinTerms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contacts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoadingPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfResponsibility)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.StockId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.StockId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.StockId">Delete</a>
        </td>
    </tr>
}
</table>
